extends layout

block content
    h1 Parabens
    br
    img(src='/images/the_princes_is_in_another_castle.jpeg')
    br
    h2 Agora va ver o seu armario
    br
    script(src='/javascripts/final.js')