extends layout

block content
  div(class="center")
    div(class="text-center")
      h1 Meus parabéns Jéssica
      div(class="text-left")
        pre
          |         __   ___  / /
          |     ___( (\_( ) )/ /
          |    |\___\ \\_\/_/_/_\
          |    | | ___\/\_\/ /___\^^^^^^^^^^^^^^^^^^^^\
          |    | ||\__/ /\ \/_____\      Parabéns      \
          |     \|| | | | | |     | \     Jéssica       \
          |      || | |^| | |     |  \   Continue sendo  \
          |       \ |     | |     |   \    essa pessoa    \
          |        \|_____| |_____|    \  incrivel que é   \
          |                             ^^^^^^^^^^^^^^^^^^^^^
          p O que voce ganhou foi uma farsa, o seu verdade presente
          p esta escondido e esse e um teste para ver se voce
          p e digna de encontra-lo
      a(href='#') Que os jogos comecem



