extends layout

block content
    // 3
    h1 Quiz 5/5
    pre
        | Cesar seu safadinho!!!
        | lqvwurvshfw
    br
    p2 Resposta:
    form(action='/quiz' method='POST')
        br
        input(type='text', name="key" placeholder='Mensagem')
        br
        br
        br
        button(type="submit") Responder
    script(src='/javascripts/pagina5.js')